.rarity {
  position: relative;
  margin-top: 80px; // header is 80px
  padding: 50px 20px; // same as navbar
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;

  .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $tab-port) {
      flex-direction: column;
    }

    .rarity-chart {
      margin-right: 30px;

      .chart-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        @media screen and (max-width: $tab-port) {
          flex-direction: row;
          margin-right: 0;
          margin-bottom: 30px;
          flex-wrap: wrap;
        }

        .button {
          padding: 10px 18px;
          font-size: 14px;

          &--active {
            color: #fff;
            border-color: #d15908;
            background-color: #ef6407;

            &:hover {
              background-color: #d15908;
            }
          }
        }
      }
    }

    .slider {
      width: 100%;
      text-align: center;

      .slide-item {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 0.375rem;
        background-color: #fff;
        width: 300px !important;
        height: 300px;
        outline: none;
        background-image: url("../../assets/silhouette.png");
        background-size: cover;

        img {
          width: 300px;
          height: 300px;
          margin-bottom: 10px;
          pointer-events: none;
          border-radius: 0.375rem;
        }
      }
    }
  }

  @media screen and (max-width: $tab-land) {
    max-width: 95%;
  }

  @media screen and (max-width: $tab-port) {
    max-width: 100%;
  }
}
